#mainFrame {
    background: url(../images/cloth.png);
    background-size: 450px;
    background-repeat: repeat;
}

html {
    height: 100%;
}

body {
    margin-bottom: 50px;
    padding: 0;
    height: 100%;
}

.navbar-custom {
    background-color: rgb(214, 207, 195);
    padding-top: 0;
    padding-bottom: 0;
    height: 55px;
    color: white;
}

a.navbar-brand {
    background-color: #9b9376;
    padding-bottom: 10;
    margin-bottom: 0;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 100;
    font-size: 30px;
}

#navCenter {
    width: 90%;
}

a.nav-link {
    padding-bottom: 10;
    margin-bottom: 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

div > ul > li > a:link {
    color: white;
    font-weight: 100;
}

div > ul > li > a:visited {
    color: white;
    font-weight: 100;
}

div > ul > li > a:hover {
    color: rgb(70, 52, 20);
    font-weight: 100;
}

div > ul > li > a:active {
    color: white;
    font-weight: 100;
}

#aboutMe,
#contactMe,
#portoMe {
    margin-top: 10%;
    width: 80%;
    background-color: rgb(214, 207, 195);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-weight: 100;
}

h2 {
    font-weight: 120;
    font-size: 35px;
    border-bottom: white 3px solid;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

#doggy {
    margin-right: 30px;
    margin-bottom: 10px;
}

.rowHeight {
    margin-top: 10px;
}

#comment {
    width: 97%;
    margin-right: auto;
    margin-left: auto;
}

.img-responsive {
    height: auto;
    width: 100%;
    
}

.col {
    margin-bottom: 15px;
}

div.titles {
    background-color: hsl(47, 16%, 54%, 0.5);
    padding: 0;
    text-align: center;
    position: absolute;
    left: 15;
    right: 15;
    bottom: 20px;
}

div.titles > a:link {
    text-decoration: none;
    color: white;
    font-weight: 100;
}

div.titles > a:visited {
    text-decoration: none;
    color: white;
    font-weight: 100;
}

div.titles > a:hover {
    text-decoration: none;
    color: rgb(70, 52, 20);
    font-weight: 100;
}

div.titles > a:active {
    text-decoration: none;
    color: white;
    font-weight: 100;
}

#footAttrib {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60px;
    line-height: 60px;
    background-color: #9b9376;
    color: white;
    font-weight: 100;
    text-align: center;
    opacity: .6;
    margin-bottom: 0px;
}